/* includes/_colors */

@each $color_name, $color_map in $map--colors {
  @include _iterate-map-props($color_map, color, true, $color_name);
};

// easy names
@each $color_fancy_name, $color_easy_name in $_map--color-name-inverse {
  $color_map: map_get($map--colors, $color_fancy_name);
  @include _iterate-map-props($color_map, color, true, $color_easy_name);
};

@each $color_name, $color_map in $map--colors {
  @include _iterate-map-props($color_map, (background, bg), true, $color_name);
};

// easy names
@each $color_fancy_name, $color_easy_name in $_map--color-name-inverse {
  $color_map: map_get($map--colors, $color_fancy_name);
  @include _iterate-map-props($color_map, (background, bg), true, $color_easy_name);
};
