@import 'dimensions';

$map--border-radius: (
  '': map_get($map--container-spacing, normal),
  normal: map_get($map--container-spacing, normal),
  xsm: map_get($map--container-spacing, xsm),
  sm: map_get($map--container-spacing, sm),
  lg: map_get($map--container-spacing, lg),
  xlg: map_get($map--container-spacing, xlg),
  xxlg: map_get($map--container-spacing, xxlg),
  max: 9999px,
);
