/* helpers/_dimensions */

@include _iterate_map_props($map--container-dimensions, width, false);
@include _iterate_map_props($map--container-dimensions, height, false);
@include _iterate_map_props($map--container-spacing, padding);
@include _iterate_map_props_directions($map--container-spacing, padding);
@each $key, $value in $map--container-spacing {
  $d1: '--';
  @if($key == ''){
      $d1: '';
  }
  .padding-x#{$d1}#{$key} {
    padding-left: $value;
    padding-right: $value;
  }
  .padding-y#{$d1}#{$key} {
    padding-top: $value;
    padding-bottom: $value;
  }
}
@include _iterate_map_props($map--container-spacing, margin);
@include _iterate_map_props_directions($map--container-spacing, margin);
@each $key, $value in $map--container-spacing {
  $d1: '--';
  @if($key == ''){
    $d1: '';
  }
  .margin-x#{$d1}#{$key} {
    margin-left: $value;
    margin-right: $value;
  }
  .margin-y#{$d1}#{$key} {
    margin-top: $value;
    margin-bottom: $value;
  }
}
