/* functions/index */

@function to-rem($px, $context: $root-size) {
  @return 1rem * ( $px / $context );
}

@function disambiguate_color($caveman_name) {
  @if( map_has_key($map--colors, $caveman_name) == true ){
    @return $caveman_name;
  }@else if( map_has_key($_map--color-name, $caveman_name) == true ){
    @return map_get($_map--color-name, $caveman_name);
  }@else {
    @error "Not a valid color!";
  }
}

@function  get_color($color, $value) {
  @return map_get( map_get( $map--colors, disambiguate_color($color) ), $value );
}

@function generate_palette($color, $n: 1) {
  $mid: ($n * 2) + 1;
  $palette: ($mid * 100: $color);
  @for $i from 1 through $n + 1 {
    $palette: map_merge($palette, (($mid - $i) * 100: scale_color($color, $lightness: percentage($i * 0.15)) ));
    $palette: map_merge($palette, (($mid + $i) * 100: scale_color($color, $lightness: percentage($i * -0.15)) ));
  }
  @return $palette;
}
