/* mixins/colors */

@mixin _color($name, $value, $prop: color, $important: ''){
  @if($important == true){
    $important: ' !important';
  }
  #{$prop}: get_color($name, $value) #{$important};
};

@mixin color($name, $value, $important: ''){
  @include _color($name, $value, color, $important);
};

@mixin bg($name, $value, $override: false, $important: ''){
  @if($override == true){
    @include _color($name, $value, background, $important);
  }@else{
    @include _color($name, $value, background-color, $important);
  }
};
