@mixin box-shadow($key){
  @if( map_has_key($map--box-shadow, $key) == true){
    box-shadow: map_get($map--box-shadow, $key);
  }@else{
    @error 'No opacity value found for ' + #{$key} + ' in ' + #{$map--opacity};
  }
}
