@mixin z-index($key: default){
  @if(map_has_key($map--z-index, $key) == null){
    @error "z-index \"#{$key}\" not found"
  }
  z-index: map_get($map--z-index, $key);
}
@include _iterate_map_props($map--z-index, z-index, true);

// offsets for top, right, bottom, left
@mixin offset($direction, $key){
  @if(map_has_key($direction, $key) == null){
    @error "direction \"#{$direction}\" not found"
  }
  @if(map_has_key($map--container-spacing, $key) == null){
    @error "Container spacing \"#{$key}\" not found"
  }
  #{$direction}: map_get($map--container-spacing, $key);
}
