/* mixins/visibility */

@mixin opacity($key: ''){
  @if( map_has_key($map--opacity, $key) == true){
    opacity: map_get($map--opacity, $key);
  }@else{
    @error 'No opacity value found for ' + #{$key} + ' in ' + #{$map--opacity};
  }
}
