/* sole.scss */

$include_path: '~';

// this is referenced in functions and needs to be first
$root-size: 16px !default;

/**
* Iterates over a given list or map and returns the css class, property, and value. If
* $is_placeholder is true, creates a placeholder class. Optionally adds an additional $name
* property to the semantic class name.
*/
@mixin _iterate_map_props($map, $property, $is_placeholder: false, $name: ''){
  $d1: '--';
  $d2: '-';
  $prop: '';
  $shortname: '';

  @if($name == ''){
    $d2: '';
  }
  @if(type_of($property) == 'list'){
    $prop: nth($property,1);
    $shortname: nth($property,2);
  }@else{
    $prop: $property;
    $shortname: $property;
  }

  @if(type_of($map)=='map'){
    @each $key, $value in $map {
      $d1: '--';
      @if($key == ''){
        $d1: '';
      }
      @if($is_placeholder == true){
        %#{$shortname}#{$d1}#{$name}#{$d2}#{$key} {
          #{$prop}: $value;
        }
      }@else{
        .#{$shortname}#{$d1}#{$name}#{$d2}#{$key} {
          #{$prop}: $value;
        }
      }
    }
  }@else if(type_of($map)=='list'){
    @each $value in $map {
      @if($is_placeholder == true){
        %#{$shortname}#{$d1}#{$value} {
          #{$prop}: $value;
        }
      }@else{
        .#{$shortname}#{$d1}#{$value} {
          #{$prop}: $value;
        }
      }
    }
  }
}

/**
* Iterates over a given list or map and returns the directional css classes, properties, and
* values. If $is_placeholder is true, creates placeholder classes. Optionally adds an additional
* $name property to the semantic class names.
*/
@mixin _iterate_map_props_directions($map, $prop, $is_placeholder: false, $name: ''){
  @each $direction in $_list--directions{
    $prop2: #{$prop}-#{$direction};
    @include _iterate_map_props($map--container-spacing, $prop2, $is_placeholder);
  }
}

@import 'functions/index';
@import 'variables/index';
@import 'includes/index';
@import 'mixins/index';
